body {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #1f2424;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  width: 550px;
  margin-top: 128px;
  background-color: #676e99;
  border: 3px solid #202124;
  border-radius: 24px;
}

h1 {
  margin-bottom: 12px;
}

.container {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-bottom: 24px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.score h2 {
  margin-bottom: 8px;
}

.score p {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  width: 72px;
  padding: 0 8px;
  border: 1px solid #35363b;
  background-color: #f5f5f5;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 42px;
  margin: 24px 0;
}

.choice {
  font-size: 48px;
  background-color: #dedcd1;
  padding: 8px 16px;
  border: 1px solid #35363b;
  border-radius: 12px;
}

#message {
  margin-top: 12px;
}
